@media screen and (max-width: 350px) {
    .hero a {
        font-size: 20px;
    }
    .mision p {
        font-size: 23px;
    }
    .TituloSecundario2 {
        font-size: 25px;
    }
    .nuevos-cursos h2 {
        font-size: 23px;
    }
    .contacto-datos {
        font-size: 12px;
    }
    .contacto-dejanos {
        font-size: 12px;
    }
    .contacto-dondeencontrarnos {
        width: 300px;
        height: 300px;
    }
}