@media screen and (max-width: 710px) {
    .hero h2 {
        font-size: 30px;
    }
    .TituloSecundario2 {
        font-size: 40px;
    }
    .nuevos-cursos h2 {
        font-size: 36px;
    }
    .mision p {
        font-size: 36px;
    }
}