@media screen and (max-width: 320px) {
    .hero a {
        font-size: 20px;
    }
}
@media screen and (max-width: 320px) {
    .TituloSecundario2 {
        font-size: 25px;
    }
}
@media screen and (max-width: 320px) {
    .nuevos-cursos h2 {
        font-size: 23px;
    }
}
@media screen and (max-width: 320px) {
    .mision p {
        font-size: 23px;
    }
}
