@media screen and (max-width: 350px) {
    .contacto-datos {
        font-size: 12px;
        
    }
}
@media screen and (max-width: 350px) {
    .contacto-dejanos {
        font-size: 12px;
        
    }
}
@media screen and (max-width: 350px) {
    .contacto-dondeencontrarnos {
        width: 300px;;
        height: 300px;
        
    }
}