@media screen and (max-width: 410px) {
    .contacto-datos {
        font-size: 14px;
    }
    .contacto-dejanos {
        font-size: 14px;
    }
    .contacto-dondeencontrarnos {
        width: 318px;
        height: 318px;
    }
}
