@media screen and (max-width: 665px) {
    .nosotros p{
        font-size: 18px;
        text-align: center;
    }
}
@media screen and (max-width: 665px) {
    .galeria h2{
        font-size: 30px;
        text-align: center;
    }
}
