@media screen and (max-width: 410px) {
    .contacto-datos {
        font-size: 14px;
        
    }
}
@media screen and (max-width: 410px) {
    .contacto-dejanos {
        font-size: 14px;
        
    }
}
@media screen and (max-width: 410px) {
    .contacto-dondeencontrarnos {
        width: 318px;;
        height: 318px;
        
    }
}
